#!/usr/bin/env bash

export DOCKER_BUILDKIT=1
export CI_PROJECT_DIR="$(pwd)"
export CI_COMMIT_SHA="$(git log -1 --format=%H)"
export CI_COMMIT_SHORT_SHA="${CI_COMMIT_SHA:0:7}"
export CI_PROJECT_NAME="$(basename "${CI_PROJECT_DIR}")"

source .user.env
